<mat-card class="sticky-card m-3">
    <mat-card-title>{{surveyId ? 'Editar' : 'Agregar'}} encuesta</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="pt-3">
        <div class="row">
            <div class="col-md-2">
                <button class="btn-block text-left" mat-flat-button [style.background]="'#FFFFFF'"
                    [style.color]="'#00ABB3'" (click)="back()">
                    <mat-icon>arrow_back</mat-icon> Regresar
                </button>
            </div>
            <div class="col-md-3 offset-md-7">
                <button class="btn-block" mat-flat-button [style.background]="'#00ABB3'"
                    [style.color]="'#FFFFFF'" (click)="save()">Guardar encuesta</button>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-6">
                <mat-form-field class="btn-block" appearance="legacy">
                    <mat-label>Título de la encuesta</mat-label>
                    <input [(ngModel)]="survey.title" matInput>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="btn-block" appearance="legacy">
                    <mat-label>Empresa</mat-label>
                    <mat-select [(ngModel)]="survey.companyId">
                        <ng-container *ngFor="let company of companys">
                            <mat-option [value]="company.id">{{company.socialReason}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field class="btn-block" appearance="legacy">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [(ngModel)]="survey.description"></textarea>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<ng-container *ngFor="let question of survey.format; let i = index">
    <mat-card class="m-3 p-3">
        <div class="row pb-3">
            <div class="col-md-8">
                <mat-form-field class="btn-block" appearance="legacy">
                    <mat-label>Pregunta</mat-label>
                    <input [(ngModel)]="question.question" matInput>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="btn-block" appearance="legacy">
                    <mat-icon class="prefix-icon" *ngIf="question.type == 'TEXT'" matPrefix>notes</mat-icon>
                    <mat-icon class="prefix-icon" *ngIf="question.type == 'SELECT'" matPrefix>arrow_drop_down_circle</mat-icon>
                    <mat-label>Tipo</mat-label>
                    <mat-select [(value)]="question.type" #type>
                        <mat-select-trigger *ngIf="question.type == 'TEXT'">Texto</mat-select-trigger>
                        <mat-select-trigger *ngIf="question.type == 'SELECT'">Desplegable</mat-select-trigger>
                        <mat-option [value]="'TEXT'">
                            <mat-icon>notes</mat-icon> Texto
                        </mat-option>
                        <mat-option [value]="'SELECT'">
                            <mat-icon>arrow_drop_down_circle</mat-icon> Desplegable
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-1 text-right">
                <button mat-flat-button [style.background]="'#FFFFFF'"
                    [style.color]="'#B2B2B2'" (click)="removeElement(survey.format, i)">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <ng-container *ngIf="question.type == 'SELECT'">
            <div class="row pb-3">
                <div class="col-md-3">
                    <b>Opciones de respuesta</b>  
                </div>
            </div>
            <ng-container *ngFor="let questionOption of question.options; let j = index">
                <div class="row">
                    <div class="col-md-5">
                        <mat-form-field class="btn-block" appearance="legacy">
                            <mat-label>Opción {{j + 1}}</mat-label>
                            <input [(ngModel)]="questionOption.value" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-1 text-right">
                        <button mat-flat-button [style.background]="'#FFFFFF'"
                            [style.color]="'#B2B2B2'" (click)="removeElement(question.options, j)" *ngIf="j > 0">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
            <div class="row pb-3">
                <div class="col-md-3">
                    <button class="btn-block" mat-flat-button [style.background]="'#B2B2B2'"
                        [style.color]="'#FFFFFF'" (click)="addAnswer(question.options)">
                        <mat-icon>add</mat-icon> Agregar respuesta
                    </button>
                </div>
            </div>
        </ng-container>
        <mat-divider></mat-divider>
        <div class="row pt-3">
            <div class="col-md-12 text-right">
                Obligatorio  <mat-slide-toggle [(ngModel)]="question.isRequired"></mat-slide-toggle>
            </div>
        </div>
    </mat-card>
</ng-container>
<div class="row px-3" [style.height]="'150px'">
    <div class="col-md-3">
        <button class="btn-block" mat-flat-button [style.background]="'#B2B2B2'"
            [style.color]="'#FFFFFF'" (click)="addQuestion()">
            <mat-icon>add</mat-icon> Agregar pregunta
        </button>
    </div>
</div>