<mat-card class="m-3">
    <mat-card-title>Ver encuesta respondida</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="pt-3">
        <div class="row">
            <div class="col-md-2">
                <button class="btn-block text-left" mat-flat-button [style.background]="'#FFFFFF'"
                    [style.color]="'#00ABB3'" (click)="back()">
                    <mat-icon>arrow_back</mat-icon> Regresar
                </button>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-12">
                <h3>
                    <b>Información general</b>
                </h3>
            </div>
            <div class="col-md-4">
                <b>Título</b>
                <p>{{survey.survey.title}}</p>
            </div>
            <div class="col-md-4">
                <b>Empresa</b>
                <p>{{survey.survey.company.socialReason}}</p>
            </div>
            <div class="col-md-4">
                <b>Capturado por</b>
                <p>{{survey.user.name}}</p>
            </div>
            <div class="col-md-12">
                <b>Descripción</b>
                <p>{{survey.survey.description}}</p>
            </div>
            <div class="col-md-12 pt-3">
                <h3>
                    <b>Respuestas</b>
                </h3>
            </div>
            <ng-container *ngFor="let question of survey.format; let i = index">
                <div class="col-md-12 pt-3">
                    <b>{{question.question}} {{question.isRequired ? '(Obligatorio)' : ''}}</b>
                    <p>{{question.question}}</p>
                </div>
                <mat-divider></mat-divider>
            </ng-container>
        </div>
    </mat-card-content>
</mat-card>