<div class="row pt-3">
    <div class="col-md-12">
        <h3>
            <b>Información general</b>
        </h3>
    </div>
    <div class="col-md-6">
        <b>Razón social</b>
        <p>{{company.socialReason}}</p>
    </div>
    <div class="col-md-6">
        <b>Giro</b>
        <p>{{company.bussinessActivity}}</p>
    </div>
    <div class="col-md-6">
        <b>Email de contacto</b>
        <p>{{company.contactEmail}}</p>
    </div>
    <div class="col-md-6">
        <b>Teléfono de contacto</b>
        <p>{{company.contactPhone}}</p>
    </div>
    <div class="col-md-6">
        <b>Dirección</b>
        <p>{{company.street}}</p>
    </div>
    <div class="col-md-6">
        <b>Colonia</b>
        <p>{{company.colonyName}}</p>
    </div>
    <div class="col-md-6">
        <b>Código postal</b>
        <p>{{company.postalCode}}</p>
    </div>
</div>