<app-table [total]="total"[searchTitle]="'encuesta respondida'" [searchPlaceholder]="'Ej. Encuesta de satisfacción'"
    [buttonBgColor]="'#00ABB3'" [buttonTextColor]="'#FFFFFF'" [showButton]="false"
    [noRecordsText]="'No se encontraron registros de encuestas respondida'" (changeFilters)="getData($event)">
    <thead>
        <tr>
            <th class="col-md-4">Encuesta</th>
            <th class="col-md-4">Capturado por</th>
            <th class="col-md-2 text-center">Fecha</th>
            <th class="col-md-2 text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let item of data">
            <tr>
                <td>{{item.survey.title}}</td>
                <td>{{item.user.name}}</td>
                <td class="text-center">{{item.createdAt}}</td>
                <td class="text-center">
                    <app-mini-button [type]="1" (btnClicked)="view(item.id)"></app-mini-button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</app-table>