<mat-card class="m-3">
    <mat-card-title>Encuestas</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="pt-3">
        <app-table [total]="total"[searchTitle]="'encuesta'" [searchPlaceholder]="'Ej. Encuesta de satisfacción'"
            [buttonBgColor]="'#00ABB3'" [buttonTextColor]="'#FFFFFF'" [buttonText]="'Agregar encuesta'"
            [buttonIcon]="'add'" [noRecordsText]="'No se encontraron registros de encuestas'" (btnClicked)="add()" (changeFilters)="getData($event)">
            <thead>
                <tr>
                    <th class="col-md-3">Titulo</th>
                    <th class="col-md-5">Descripción</th>
                    <th class="col-md-2 text-center">Empresa</th>
                    <th class="col-md-2 text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of data">
                    <tr>
                        <td>{{item.title}}</td>
                        <td>{{item.description}}</td>
                        <td class="text-center">{{item.company.socialReason}}</td>
                        <td class="text-center">
                            <app-mini-button [type]="1" (btnClicked)="view(item.id)"></app-mini-button>
                            <app-mini-button [type]="2" (btnClicked)="edit(item.id)"></app-mini-button>
                            <app-mini-button [type]="3" (btnClicked)="delete(item.id)"></app-mini-button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </app-table>
    </mat-card-content>
</mat-card>