<mat-card class="sticky-card m-3">
    <mat-card-title>{{companyId ? 'Editar' : 'Agregar'}} empresa</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="pt-3">
        <div class="row">
            <div class="col-md-2">
                <button class="btn-block text-left" mat-flat-button [style.background]="'#FFFFFF'"
                    [style.color]="'#00ABB3'" (click)="back()">
                    <mat-icon>arrow_back</mat-icon> Regresar
                </button>
            </div>
            <div class="col-md-3 offset-md-7">
                <button class="btn-block" mat-flat-button [style.background]="'#00ABB3'"
                    [style.color]="'#FFFFFF'" (click)="save()">Guardar empresa</button>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-6">
                <mat-form-field class="btn-block" appearance="legacy">
                    <mat-label>Razón social</mat-label>
                    <input [(ngModel)]="company.socialReason" matInput>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="btn-block" appearance="legacy">
                    <mat-label>Giro</mat-label>
                    <input [(ngModel)]="company.business" matInput>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="btn-block" appearance="legacy">
                    <mat-label>Email de contacto</mat-label>
                    <input [(ngModel)]="company.email" matInput>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="btn-block" appearance="legacy">
                    <mat-label>Teléfono de contacto</mat-label>
                    <input [(ngModel)]="company.phone" matInput>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="btn-block" appearance="legacy">
                    <mat-label>Dirección</mat-label>
                    <input [(ngModel)]="company.address" matInput>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="btn-block" appearance="legacy">
                    <mat-label>Colonia</mat-label>
                    <input [(ngModel)]="company.neighborhood" matInput>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="btn-block" appearance="legacy">
                    <mat-label>Código postal</mat-label>
                    <input [(ngModel)]="company.postalCode" matInput>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<div class="row" [style.height]="'150px'"></div>